#input-customized {
  border: 1px solid #999;
  padding: 0 0 0 0.4rem;
  border-radius: 4px;
}
#input-customized:focus {
  border: 2px solid rgba(230, 39, 39, 0.61);
  outline: none;
}
#input-customized::placeholder {
  color: #999;
}
