.search-container {
  width: calc(100% - 2rem);
  height: 5vh;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.search-container__input {
  width: 80%;
  height: calc(100% - 4px);
}
.search-container__button {
  background: rgb(31, 102, 209);
  color: #ffffff;
  width: calc(20% - 10px);
  height: 100%;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
}
